* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-size: 16px;
    font-family: Inconsolata, 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    margin: 20px 0 10px;
    color: white;
    font-size: 32px;
    text-align: right;
}

footer {
    margin-top: 15px;
    color: #888;
    text-align: right;
}

a,
a:visited,
a:active {
    color: inherit;
    font-size: 12px;
    text-decoration: none;
}
a:hover {
    color: #50e3c2;
    font-weight: bold;
}

table, tr, td {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
    vertical-align: top;
    white-space: nowrap;
}

button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
button::-moz-focus-inner {
    border: none;
}

button, select, option {
    font-family: inherit;
}

button,
select {
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0 20px;
    border: 1px solid #444;
    border-radius: 0;
    background: none;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 100ms ease-out;
}
@media (max-width: 600px), (max-height: 800px) {
    button,
    select {
        height: 30px;
        padding: 0 10px;
    }
}

button:hover,
button:focus {
    border-color: #50e3c2;
    color: #50e3c2;
}
select {
    margin-right: 0;
    font-weight: normal;
}
select:hover,
select:focus {
    border-color: #50e3c2;
}
select + button {
    margin-left: 1px;
}
select option {
    color: black;
}

.button-row {
    margin-right: 10px;
    text-align: right;
}
.button-row .draw-mode {
    float: left;
    margin-left: 20px;
}

.hints td {
    border: 1px solid #444;
}
.solved .hints td {
    border: none;
}
.hints-col td {
    border-top: none;
    border-bottom: none;
    vertical-align: bottom;
}
.hints-col td :first-child {
    margin-top: 5px;
}
.hints-col td:nth-child(5n):not(:last-child) {
    border-right-width: 2px;
}
.hints-row td {
    border-left: none;
    border-right: none;
    text-align: right;
    vertical-align: middle;
}
.hints-row tr:nth-child(5n):not(:last-child) td {
    border-bottom-width: 2px;
}
.hints-row .hint {
    display: inline-block;
}
.hint {
    font-weight: bold;
    text-align: center;
}
.solved .hint,
.hint-completed {
    color: #666;
    font-weight: normal;
}
@media (max-width: 600px), (max-height: 800px) {
    .hint {
        font-size: 12px;
    }
}

.grid {
    cursor: pointer;
}
.grid td {
    position: relative;
    border: 1px solid black;
}
.grid td:nth-child(5n):not(:last-child) {
    border-right-width: 2px;
}
.grid tr:nth-child(5n):not(:last-child) td {
    border-bottom-width: 2px;
}
.solved .grid td {
    border: 1px solid rgba(255,255,255,0.5) !important;
}

.cell {
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all 100ms ease-out;
}
.cell-temp:after {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%; height: 100%;
}
.cell-0 {
    background: white;
}
.cell-2 {
    background: black;
}
.cell-2:after, .cell-temp-2:after {
    content: '✕';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    font-size: 20px;
}
.solved .cell-2:after {
    display: none;
}
.cell-temp-0:after {
    background: rgba(255,255,255,0.5);
}
.cell-temp-1.cell-0 {
    background: rgba(255,255,255,0.5);
}
.cell-temp-1.cell-2 {
    background: rgba(0,0,0,0.5);
}
.cell-temp-2:after {
    background: rgba(0,0,0,0.5);
}
.cell-0.cell-temp-0:after,
.cell-1.cell-temp-1:after {
    display: none;
    outline: 1px solid red;
}
.cell-2.cell-temp-2:after {
    opacity: 1;
}

.cell-guess:before {
    position: absolute;
    top: 25%; right: 25%;
    width: 50%; height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell-guess-1:before {
    content: '?';
    background: #eee;
    color: black;
    font-size: 12px;
}
.cell-guess-2:before {
    content: '✕';
    background: #444;
    color: #ccc;
}