* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-size: 16px;
    font-family: Inconsolata, 'Courier New', Courier, monospace;
    text-align: center;
}

@media (max-width: 600px), (max-height: 800px) {
    body {
        font-size: 12px;
    }
}

h1 {
    margin: 20px 0 10px;
    color: white;
    font-size: 200%;
    text-align: right;
}

footer {
    margin-top: 15px;
    color: #888;
    text-align: right;
}

a,
a:visited,
a:active {
    color: inherit;
    font-size: 75%;
    text-decoration: none;
}
a:hover {
    color: #50e3c2;
    font-weight: bold;
}

table, tr, td {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
    vertical-align: top;
    white-space: nowrap;
}

button {
    height: 40px;
    padding: 0;
    border: 1px solid #444;
    border-radius: 0;
    background: none;
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 75%;
    text-align: center;
    cursor: pointer;
    transition: all 100ms ease-out;
}
@media (max-width: 600px), (max-height: 800px) {
    button {
        height: 30px;
        padding: 0;
    }
}

button::-moz-focus-inner {
    border: none;
}
button:hover,
button:focus {
    border-color: #50e3c2;
    color: #50e3c2;
}
button:disabled {
    opacity: 0.5;
}

.button-row {
    display: flex;
    flex-direction: row;
}
.button-row button {
    flex-grow: 1;
    flex-basis: 100px;
    margin-left: 5px;
}
.button-row .divider {
    flex-grow: 1;
    flex-basis: 10px;
}

.hints td {
    border: 1px solid #444;
}
.solved .hints td {
    border: none;
}
.hints-col td {
    border-top: none;
    border-bottom: none;
    vertical-align: bottom;
}
.hints-col td :first-child {
    margin-top: 10px;
}
.hints-col td:nth-child(5n):not(:last-child) {
    border-right-width: 2px;
}
.hints-row td {
    border-left: none;
    border-right: none;
    text-align: right;
    vertical-align: middle;
}
.hints-row tr:nth-child(5n):not(:last-child) td {
    border-bottom-width: 2px;
}
.hints-row .hint {
    display: inline-block;
}
.hint {
    font-weight: bold;
    text-align: center;
}
.solved .hint,
.hint-completed {
    color: #666;
    font-weight: normal;
}

.grid {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.grid td {
    position: relative;
    border: 1px solid black;
}
.grid td:nth-child(5n):not(:last-child) {
    border-right-width: 2px;
}
.grid tr:nth-child(5n):not(:last-child) td {
    border-bottom-width: 2px;
}
.solved .grid td {
    border: 1px solid rgba(255,255,255,0.5) !important;
}

.cell {
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.cell, 
.cell:before,
.cell:after {
    transition: all 100ms ease-out;
}
.cell-0:not(.cell-temp),
.cell-temp-0 {
    background: white;
}
.cell-2:not(.cell-temp),
.cell-temp-2 {
    background: black;
}
.cell-2:before,
.draw-mode-guess .cell-temp-1:before,
.cell-temp-2:before,
.cell-guess-1:before,
.cell-guess-2:before {
    content: '×';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    font-size: 125%;
}
.solved .cell-2:before {
    display: none;
}
.cell-temp-0:before,
.cell-temp-1:before {
    display: none;
}

.cell-guess-1:not(.cell-temp),
.draw-mode-guess .cell-temp-1 {
    background: rgba(255,255,255,0.5);
}
.cell-guess-2:not(.cell-temp),
.draw-mode-guess .cell-temp-2 {
    background: #666;
}
.cell-guess-1:before,
.cell-guess-2:before,
.draw-mode-guess .cell-temp-1:before,
.draw-mode-guess .cell-temp-2:before {
    content: '?';
    color: white;
    font-size: initial;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.modal > * + * {
    margin-top: 10px;
}
.modal > :first-child {
    margin-bottom: 10px;
    font-weight: bold;
}
.modal > button {
    min-width: 30%;
}
.modal > .divider {
    border-bottom: 1px solid #444;
    width: 10%;
    margin: 20px 0 10px;
}